body{
    background-color:#b6c8d2;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}

.carddiv {
    display: flex;
    width: 39%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
   
}

h3{
    color: rgb(255, 255, 255);

	text-align: center;

	opacity: 0.8;
}

h1{

    text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
    opacity: 0.9;
    margin-bottom: -5px;
    font-size: 50px;
    color: black;
}

h2 {
    text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
    

}

p{
    
}

#carouselContainer {
    display: flex;
    width: 600px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 60px;

}

#loadingScreenDiv {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(50,50,50,0.8);
    z-index: 2;
}

#loadingScreenDiv > div{
    position: absolute;
    width: 20%;
    height: 14%;
    left: 40%;
    top: 43%;
    z-index: 3;
}

.carouselDiv{
    margin-right: -20px; 
    width: 80%; 
    float: right;
    
}

#photo{
    margin: auto;
}

#cardDiv{
    max-width: 540px;
}

.carousel-item{
    height: 210px;
}
