body{
    background-color:#b6c8d2;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}

.carddiv {
    display: flex;
    width: 39%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
   
}

.navbar-dark .navbar-nav .nav-link{color:#fef648}

#main-div {
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    top: 25%;
    left: 0;
    right: 0;
    border-radius: 100%;
    border: 3px solid gray;
    background:  #fef648;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#loginBtn{
    color: black;
    border-color: gray;
}

#loginBtn:hover{
    background-color:  #b6c8d2;
}


h3{
    /* color: rgb(255, 255, 255); */
    color: #b6c8d2;
	text-align: center;

	opacity: 0.8;
}

h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 10px;
    text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
    opacity: 0.9;
    margin-bottom: -5px;
    font-size: 50px;
    color: #333;
}

h2 {
    text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
    

}

small {
    font-size: 8px;
    color: #666;
}



.badge {
    font-size: 60%;
}

.text-shadow {
    text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
}

#carouselContainer {
    display: flex;
    width: 600px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 60px;

}

#loadingScreenDiv {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(50,50,50,0.8);
    z-index: 2;
}

#loadingScreenDiv > div{
    position: absolute;
    width: 20%;
    height: 14%;
    left: 40%;
    top: 43%;
    z-index: 3;
}

.modalMessage{
    text-align: center;
}

.carouselDiv{
    margin-right: -20px; 
    width: 80%; 
    float: right;
    
}

#photo{
    margin: auto;
}

#cardDiv{
    max-width: 540px;
}

.carousel-item{
    height: 210px;
}

#carouselContainer{width: 50%;
}



/* CLOUD ANIMATION */
body {
    /* background: #00b4ff; */
    background: #b6c8d2;
	color: #333;
	font: 100% Arial, Sans Serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#background-wrap {
    bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}

/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}



/* This is for the new carousel */
  
  .revolve-container {
    margin: 0 auto;
    width: 400px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    perspective: 1000px;
  }
  
  .revolve {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  .revolve-item {
    display: flex;
    flex-direction: row;
    position: absolute;
    background: white;
    width: 400px;
    height: 200px;
    /* line-height: 200px; */
    /* font-size: 5em; */
    text-align: center;
    color: black;
    /* opacity: 0.95; */
    border-radius: 10px;
    border: 3px solid gray;
    cursor: pointer;
  }

  .match-card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #333;
  }

  .match-image-container {
      overflow: hidden;
      padding: 10px;
      width: 200px;
  }

  .match-image-container > img {
    padding:0px;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px
  }

  .leftArrow {
    padding: 0;
    position: absolute;
    left: -20px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    opacity: .7;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rightArrow {
    padding: 0;
    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    opacity: .7;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-toc {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
}